* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: MontSerrat, Helvetica, sans-serif;
    background-color: beige;
}

h1 {
    text-align: center;
    margin: 10px 10vw;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
}

#container {    
    column-count: 3;
    column-gap: 10px;
    padding: 0 10vw;
}

#container img {
    max-width: 100%;
    height: auto;
    border: 1px solid lightgray;
    padding: 20px;
    margin-bottom: 5px;
    background-color: whitesmoke;   
}

@media screen and (max-width: 800px) {
    #container {    
        column-count: 2;      
    }
  }

  @media screen and (max-width: 400px) {

    h1 {
        font-size: large;
    }

    #container {    
        column-count: 1;        
    }
  }